pkgbase = hbase
	pkgdesc = HBase - the Hadoop database
	pkgver = 2.4.1
	pkgrel = 1
	url = https://hbase.apache.org
	install = hbase.install
	arch = any
	license = apache
	depends = java-environment>=8
	backup = etc/hbase/hadoop-metrics2-hbase.properties
	backup = etc/hbase/hbase-env.sh
	backup = etc/hbase/hbase-policy.xml
	backup = etc/hbase/hbase-site.xml
	backup = etc/hbase/log4j.properties
	backup = etc/hbase/regionservers
	source = https://downloads.apache.org/hbase/2.4.1/hbase-2.4.1-bin.tar.gz
	source = hbase.install
	source = hbase.profile
	source = hbase.service
	source = hbase-site.xml
	sha512sums = 5afb643c2391461619516624168e042b42a66e25217a3319552264c6af522e3a21a5212bfcba759b7b976794648ef13ee7b5a415f33cdb89bba43d40162aa685
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = hbase

