pkgbase = hbase
	pkgdesc = The Hadoop database, a distributed, scalable, big data store.
	pkgver = 2.6.2
	pkgrel = 1
	url = https://hbase.apache.org
	install = hbase.install
	arch = any
	license = Apache-2.0
	depends = java-environment>=8
	depends = bash
	backup = etc/hbase/hadoop-metrics2-hbase.properties
	backup = etc/hbase/hbase-env.sh
	backup = etc/hbase/hbase-policy.xml
	backup = etc/hbase/hbase-site.xml
	backup = etc/hbase/regionservers
	source = http://archive.apache.org/dist/hbase/2.6.2/hbase-2.6.2-bin.tar.gz
	source = hbase.install
	source = hbase.profile
	source = hbase.service
	source = hbase-site.xml
	sha512sums = faf5f0f1bec804e8c54d74e7eb9ddd7afd22047da086dd6ed1709db3adcf034f8e69208a94655575ab322beabcdb7c8f85d9b8fca07902f0be34b68fed1ea331
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = hbase
